/* =============== version_v2 =============== */
* {
    box-sizing: border-box;
}

.version_v2 body {
  background: #ffffff;
}

/* ================== prev_next ====================  */
.prev_next.v2 {
  margin: 0;
  background: #ffffff;
  padding: 9rem 0 4rem;
}

.prev_next {
  padding-top: 5rem;
}

.arrow_btn .icon {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_btn .icon img {
  width: 1rem;
}

.arrow_btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
}

.prev_next {
  margin-top: var(--menuHeight);
}

.prev_next .cross {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.prev_next .cross img {
  width: 1.4rem;
  filter: var(--black_img);
}

.prev_next .cross:hover {
  background: #f1f1f1;
}

.prev_next .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.arrow_btn.next {
  flex-direction: row-reverse;
  margin-left: auto;
}

/* ============= hero_slider_area ========== */
.hero_slider_area {
  padding: 3rem 0 9rem;
}

.hero_slider .swiper_pagination {
  display: flex;
  gap: 2.4rem;
  position: absolute;
  bottom: 2.4rem;
  left: 6.5rem;
  z-index: 1;
}

.hero_slider {
  position: relative;
  overflow: hidden;
  display: flex;
}

.slider_arrow {
  display: flex;
  align-items: center;
  width: calc(100% - 3.6rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  justify-content: space-between;
}

.hero_slider .slider_arrow {
  height: 0;
}

/* ============= hero_v2_area =========== */
.hero_v2_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.herov2_right {
  display: flex;
  gap: 7rem;
}

.title_31 {
  font-size: 3.1rem;
  line-height: 3.2rem;
}

.herov2_left h3 {
  font-family: var(--primaryfont);
}

.hero_v2_area {
  padding-top: 4.5rem;
}

.herov2_box span {
  font-size: 1.1rem;
  color: #a0a09b;
}

.herov2_box p {
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}

/* ================ Service area ================= */
.service_content {
  padding: 0 12rem 11.5rem 12rem;
}

.service_content > p {
  font-size: 1.9rem;
  line-height: 1.35; text-align: justify;
    hyphens: none;
    word-break: normal;
    overflow-wrap: normal;
    white-space: normal;
}

.service_content .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}

.service_box span {
  width: 2rem;
  height: 0.2rem;
  display: block;
  background: #c67050;
}

.service_box h6 {
  font-family: var(--primaryfont);
  font-size: 3rem;
  line-height: 3.4rem;
  padding: 2rem 0 3rem;
  color: #1f1f1f;
}

.service_box ul,
.service_box p {
  color: #1f1f1f;
  font-size: 1.7rem;
  line-height: 1.45; text-align: justify;
    hyphens: none;
    word-break: normal;
    overflow-wrap: normal;
    white-space: normal;
}

/* ========= image_slide_area =========== */
.image_slide_area {
  padding: 0 0 8rem;
}

.image_slider .swiper-slide {
  width: 66.9rem;
}

.image_card {
  position: relative;
  display: flex;
  overflow: hidden;
}

.image_slide {
  height: 44.6rem;
  object-fit: cover;
  transition: 0.25s ease;
}

.plus_icon {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0.9) translate(-50%, -50%);
  opacity: 0;
  transition: 0.35s ease;
}

.image_card:hover .image_slide {
  transform: scale(1.05);
  filter: brightness(0.75);
}

.image_card:hover .plus_icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.swiper_pagination {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  position: relative;
  bottom: 0;
  margin-top: 3rem;
  margin-left: 7rem;
}

.image_slide_top .slider_arrow {
  position: relative;
  top: auto;
  left: auto;
  transform: translate(0, 0);
  width: fit-content;
  margin-left: auto;
  margin-bottom: 1.6rem;
  display: flex;
  gap: 2rem;
}

.image_slider {
  overflow: hidden;
}

.image_slide_area .container-fluid {
  max-width: calc(100% - 12rem);
}

/* ============== video_area_v2 ============== */
.video_area_v2 .title_36 {
  font-size: 3.6rem;
  font-family: var(--primary);
  text-align: right;
  line-height: 4.2rem;
}

/* =============================== */
.maps_area_v2 {
  padding: 6rem 0 8rem;
  background: #fff;
}

.maps_area_v2 .test_author * {
  font-size: 2rem;
  line-height: 1.2;
}

.maps_area_v2 .test_author {
  max-width: 96.7rem;
  margin: 0 auto;
}

.maps_area_v2 .phone-box {
  max-width: 103rem;
  margin: 0 auto;
  padding: 2rem;
}

.maps_area_v2 .phon_box_items span {
  font-size: 4rem;
}

.maps_area_v2 .phone-box input {
  width: 43.6rem;
  box-sizing: border-box;
}

.maps_area_v2 .phone-box input::placeholder {
  font-size: 3rem;
}

.maps_area_v2 .phon_box_items button img {
  width: 5.4rem;
  margin-left: 1rem;
}




/* ========== image_popup ======= */
.image_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  transition: 0.35s ease;
  opacity: 0;
  pointer-events: none;
}

.image_popup.active {
  opacity: 1;
  pointer-events: all;
}

.popup_image {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    object-fit: contain;
    display: block;
    margin: auto;
}

.close_popup {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.close_popup:hover {
  color: #ff5555;
}

/* Optional */
.plus_icon {
  width: 8rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}


.video_area_v2 video {
  height: auto !important;
}